export OAUTH_CLIENT_ID=K7asmp280fyVAfgx12uCcqauaVIFnb2Py9DpwCn1
export VIDEO_SOURCE=0
export TOKEN_FILE_PATH="~/.config/intercom-client/tokens.json"
export WEBSOCKET_API_BASE_URL="ws://localhost:8000/ws/live_stream"
export HTTP_API_BASE_URL="http://localhost:8000"

source .venv/bin/activate
